buildscript {
    repositories {
      jcenter()
    }
    dependencies {
    }
}

plugins {
  id 'java-library'
  id 'maven-publish'
}

repositories {
    jcenter()
    mavenLocal()
    mavenCentral()
    maven {
      url 's3://maven.metamu.se.s3-us-west-2.amazonaws.com/releases'
      credentials(AwsCredentials) {
        accessKey METAMUSE_MAVEN_PUBLISH_ACCESS_KEY
        secretKey METAMUSE_MAVEN_PUBLISH_SECRET_KEY
      }
    }
}


java {
  toolchain {
    languageVersion = JavaLanguageVersion.of(10)
  }
  withJavadocJar()
  withSourcesJar()
}

group = '{{groupId}}'
version = '{{artifactVersion}}'


compileJava {
  options.release = 10
}

publishing {
  publications {
    maven(MavenPublication) {
      from components.java
    }
  }
  repositories {
    maven {
      url "s3://maven.metamu.se.s3-us-west-2.amazonaws.com/releases"
      credentials(AwsCredentials) {
        accessKey METAMUSE_MAVEN_PUBLISH_ACCESS_KEY
        secretKey METAMUSE_MAVEN_PUBLISH_SECRET_KEY
      }
    }
  }
}

dependencies {
    compile "com.amazon.sellingpartnerapi:sellingpartnerapi-aa-java:1.0"
    compile 'io.swagger.core.v3:swagger-annotations:2.1.4'
    compile 'io.swagger:swagger-annotations:1.5.17'
    compile 'com.squareup.okhttp:okhttp:2.7.5'
    compile 'com.squareup.okhttp:logging-interceptor:2.7.5'
    compile 'com.google.code.gson:gson:2.8.1'
    compile 'io.gsonfire:gson-fire:1.8.0'
    {{#joda}}
    compile 'joda-time:joda-time:2.9.9'
    {{/joda}}
    {{#threetenbp}}
    compile 'org.threeten:threetenbp:1.3.5'
    {{/threetenbp}}
    testCompile 'junit:junit:4.12'
}